{% extends 'base.html.twig' %}

{% block title %}Lot index{% endblock %}

{% block body %}
    <h1>Lot index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>PrixDeDepart</th>
                <th>PrixDeVente</th>
                <th>PrixDeReserve</th>
                <th>Statut</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td>{{ lot.id }}</td>
                <td>{{ lot.nom }}</td>
                <td>{{ lot.description }}</td>
                <td>{{ lot.prixDeDepart }}</td>
                <td>{{ lot.prixDeVente }}</td>
                <td>{{ lot.prixDeReserve }}</td>
                <td>{{ lot.statut }}</td>
                {% for c in lot.categories %}
                    <td>{{ c.nom }}</td>
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de lots</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lot_new') }}">Create new</a>
{% endblock %}
