{% extends 'base.html.twig' %}

{% block title %}VenteEnchere index{% endblock %}

{% block body %}
    <h1>VenteEnchere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vente_enchere in vente_encheres %}
            <tr>
                <td>{{ vente_enchere.id }}</td>
                <td>{{ vente_enchere.nom }}</td>
                <td>{{ vente_enchere.heureDebut ? vente_enchere.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ vente_enchere.heureFin ? vente_enchere.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ vente_enchere.type }}</td>
                <td>
                    <a href="{{ path('vente_enchere_show', {'id': vente_enchere.id}) }}">show</a>
                    <a href="{{ path('vente_enchere_edit', {'id': vente_enchere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vente_enchere_new') }}">Create new</a>
{% endblock %}
