{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <h1>Liste des prochaines ventes aux enchères</h1>
    <table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Date de début</th>
        <th>date de fin</th>
        <th>Type</th>
        <th>Nom salle d'enchere</th>
        <th>Devise</th>
        <th>Lots de cette vente</th>
    </tr>
    </thead>
    <tbody>
    {% for vente_enchere in venteEnchere %}
    <tr>
        <td>{{ vente_enchere.nom }}</td>
        <td>{{ vente_enchere.dateDebut ? vente_enchere.dateDebut|date('Y/m/d H:i:s') : '' }}</td>
        <td>{{ vente_enchere.dateFin ? vente_enchere.dateFin|date('Y/m/d H:i:s') : '' }}</td>
        <td>{{ vente_enchere.type }}</td>
        <td>{{ vente_enchere.idSalleDeVente }}</td>
        <td>{{ vente_enchere.idDevise }}</td>
        <td>
            <a href="{{ path('afficher_vente_enchere_lots', {'id': vente_enchere.id}) }}">Lots</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}